<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Game Status</title>
    <style>
.data{
    border: 2px solid black;
    padding: 10px;
    height: 24px;
    width: 24px;
    display: inline-block;
    text-align: center;
    margin:0;
    border-radius: 50%;
}
.headers{
}
.header{
    padding-left: 25px;
    min-width: 24px;
    height: 10px;
    display: inline-block;
}
.parent{
    margin: 0px;
    padding:0;
}
.YELLOW{
    background-color: YELLOW;
}
.RED{
    background-color: RED;
}
.col-header{
    margin-top: -10px;
}
    </style>
</head>

<body>
    <div class="table-div">
        <b>Current Game State</b>
        <br>
        <br>
        <div class='headers'>
        <span class="header">0</span>
        <span class="header">1</span>
        <span class="header">2</span>
        <span class="header">3</span>
        <span class="header">4</span>
        <span class="header">5</span>
        <span class="header">6</span>
        </div>
        {% for data in game_matrix %}
        <p class='parent'>
            <span class="col-header">{{forloop.counter|add:-1}}</span>
            {% for element in data %}
            <span class="data{% if element == 'YELLOW' %} YELLOW{% endif %}{% if element == 'RED' %} RED{% endif %}"></span>
            {% endfor %}
        </p>
        {% endfor %}
    </div>

</body>

</html>